#MAC OS
.DS_Store

#latex
*.fdb_latexmk
*.log
*.out
*.fls
*.aux
*.synctex.gz
*.tex
*.sty
*.bib
*.bst
*.bbl
*.blg

#python cache files 
__pycache__/

#####
.idea/
.ipynb_checkpoints/
tutorial/


#2022 fall assignments datasets, models, logs, etc.
*.train
*.test
*.pkl
*.txt
cifar_data/
mnist/
caltech-101/


