#MAC OS
.DS_Store

#latex
*.fdb_latexmk
*.log
*.out
*.fls
*.aux
*.synctex.gz
*.tex
*.sty

#python cache files 
__pycache__/

#####
.idea/
.ipynb_checkpoints/


#2022 fall assignments datasets and trained models
NLPhw-1026/model.pkl 
NLPhw-1026/data/news.2007.en.shuffled.deduped.test
NLPhw-1026/data/news.2007.en.shuffled.deduped.train

